.file-explorer-container {
  height: 100%;
  background-color: #272727;
  padding: 12px 12px;
  overflow: scroll;

  .file-path-list {
    margin: 1px 7px 7px;

    li {
      display: inline;
      // color: #50be75;
      color: #43aa8b;
      cursor: pointer;
      user-select: none;
    }

    li:hover {
      // color: #31ff2a;
      color: #90be6d;
      transition: 1s ease-in-out;
    }

    li::after {
      content: "/";
      padding: 3px;
      color: white;
    }
  }

  .file-list {
    background-color: #272727;
    color: white;
    margin-bottom: 10px;
  }

  .file-item {
    cursor: pointer;
    user-select: none;
    padding: 1px 0;
    align-items: center;
    display: flex;

    svg {
      display: flex;
      margin: 0 7px;
      fill: white;
    }

    svg.file-explorer-file {
      stroke: #50be75;
      stroke-width: 0.3px;
    }

    svg.file-explorer-folder {
      // fill: #7be0e9;
      // stroke: #8feff8;
      stroke: #50be75;
      fill: #45a565;
      stroke-width: 0.3px;
    }
  }

  .file-item:hover {
    // color: #a0abd9;
    color: #50be75;
    transition: 0.1s ease-in-out;
  }
}
